<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/morph.css' %}">
    <link rel="stylesheet" href="{% static 'css/background_image.css' %}">
</head>
<body>
   
    {% include 'components/navbar.html' %}
    <div class="background_image_doaks"></div>
    {% load crispy_forms_tags %}
    {% block content %}

    {% endblock %}



    </div>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</body>
</html>

<!--
fortnitegamer
wtf300//
-->